**

!VERSION

!backend/
!backend/go.mod
!backend/go.sum
!backend/cmd/
!backend/cmd/**
!backend/internal/
!backend/internal/**
backend/**/*_test.go
!backend/docs/
!backend/docs/docs.go

!frontend/
!frontend/package.json
!frontend/pnpm-lock.yaml
!frontend/index.html
!frontend/vite.config.ts
!frontend/tsconfig.json
!frontend/tsconfig.app.json
!frontend/tsconfig.node.json
!frontend/public/
!frontend/public/**
!frontend/src/
!frontend/src/**

!docker/
!docker/entrypoint.sh
